<% layout('layout') -%>

<form id="form-search-location" class="form-inline">
  <label>Where are you?</label>
  <input type="text" id="address" name="address">
  <input type="submit" class="btn" value="Search">
</div>
<form class="form-hug">

  <div class="popin">
    <div id="map"></div>
  </div>
  <button class="btn btn-large btn-primary" type="submit">Give me a hug!</button>
</form>
