<% layout('layout') -%>
<!-- Start About -->
<div class="row-fluid section" id="about" style="margin-top:-100px;">
  <div class="container">

    <div class="explain">
      <h2>We're disrupting hugs</h2>
      <p class="intro">The future of hugs. It's like Uber for hugs. </p>
    </div>
  </div>
</div>
