<% layout('layout') -%>
<form class="form-signin">
  <h2 class="form-signin-heading">Please sign up</h2>
  <input type="email" class="input-block-level" placeholder="Email address">
  <input type="password" class="input-block-level" placeholder="Password">
  <input type="password" class="input-block-level" placeholder="Password again">
  <input type="text" class="input-block-level" placeholder="Name">
  <input type="tel" class="input-block-level" placeholder="Phone number">
  <button class="btn btn-large btn-primary" type="submit">Sign up for hug.me</button>
</form>
